html {
    background-image: url(./images/background.jpg);
    background-position-y: 43%;
    background-position-x: center;
    background-size: cover;
}

#credit-card {
    background: red;
    width: 28.5333333333rem;
    height: 17.9933333333rem;
    margin-left: 36%;
    margin-top: 13%;
    background: rgba( 255, 255, 255, 0.0);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    transition: background 1s, width 1s, height 1s, margin-left 1s, margin-top 1s, backdrop-filter 1s, -webkit-backdrop-filter 1s;
}

#bank_name {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 4.5%;
    font-size: 1.8em;
}

#card_number {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 4%;
    font-size: 1.35em;
    letter-spacing: .1em;
    position: absolute;
    bottom: 0;
    padding: 10% 0% 2% 4%;
}

img {
    height: 15%;
    position: absolute;
    bottom: 8%;
    right: 4%;
}

#credit-card:hover {
    background: rgba( 255, 255, 255, 0.1);
    width: 35.6666666666rem;
    height: 22.4916666666rem;
    margin-left: 33%;
    margin-top: 12%;
    backdrop-filter: blur( 0px);
    -webkit-backdrop-filter: blur( 0px);
}