* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}


/* Make content area fill the entire browser window */

html,
.fullscreen {}


/* Center the content in the browser window */

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 3rem;
}